.appointment-page-banner{
    background-image: linear-gradient(rgb(3 169 244 / 45%), #f7589ae8), url(../../images/5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}