/* .d-button-solid{
box-shadow:0px 0px 4px 2px #ca397642;
border: 1px solid transparent;
}
.d-button{
    border: 1px solid rgb(202, 26, 55);
}
.d-button-solid:hover{
    box-shadow:none;
    border: 1px solid rgb(202, 26, 55);
}
.d-button:hover{
    box-shadow:0px 0px 4px 2px #ca397642;
    border: 1px solid rgb(202, 26, 55);
} */
