.about-bottom-banner{
    background-image: linear-gradient(rgb(3 169 244 / 45%), #e97ca9e8), url(../../images/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}